.subscribe {
    display: block;
    width: 24%;
    background-color:black;
    border: none;
    color:white;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin: 8px 2px;
    border-radius: 8px;
    cursor: pointer;
}

nav{
    width: 100%;
    height: 120px;
    background-color: black;
}

nav h1{
    font-family: arial;
    color: white;
    font-size: 24px;
    line-height: 55px;
    float: left;
    padding: 0px 20px;
}

nav ul{
    float: left;
}

nav ul li{
    float: left;
    list-style: none;
    position: relative;
}
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    outline: none;
}

nav ul li a{
    display: block;
    font-family: arial;
    color: white;
    font-size: 14px;
    padding: 22px 14px;
    text-decoration: none;
}

nav ul li ul{
    display: none;
    position: absolute;
    background-color: #575757;
    padding: 10px;
    border-radius: 0px 0px 4px 4px;
}

nav ul li:hover ul{
    display: block;
}

nav ul li ul li{
    width: 100%;
    border-radius: 8px;
}

nav ul li ul li a{
    padding: 8px 14px;
}

nav ul li ul li a:hover{
    background-color: #797979;
}

nav h1 a{
    color: white;
}
body {
    padding: 25px;
    background-color: black;
    color: white;
}
